<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>63865394189-0kkgift9q5i0l6e26hocqt7rv3dhkf7v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.63865394189-0kkgift9q5i0l6e26hocqt7rv3dhkf7v</string>
	<key>API_KEY</key>
	<string>AIzaSyC9ypqyCZmLZ0Uu5MdYdSn9aRSZD3fUtZ0</string>
	<key>GCM_SENDER_ID</key>
	<string>63865394189</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-8b868</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-8b868.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:63865394189:ios:58480d533ce27172977144</string>
</dict>
</plist>